<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.niklasjahning.howtojava">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsMenu" />
        <activity android:name=".PlayMenu" />
        <activity android:name=".TheoryMenu" />
        <activity android:name=".Theory" />
        <activity android:name=".DataTypes" />
        <activity android:name=".Arrays" />
        <activity android:name=".ClassesAndObjects" />
        <activity android:name=".Loops" />
        <activity android:name=".LogicAndConditions" />
        <activity android:name=".Methods" />
        <activity android:name=".ExerciseSelectDatatypes" />
        <activity android:name=".ExerciseOperators" />
        <activity android:name=".ExerciseForStrings" />
        <activity android:name=".ExerciseSelectDatatypes2" />
        <activity android:name=".InterfacesAndEvents" />
        <activity android:name=".DataInJava" />
        <activity android:name=".ExerciseClassesAndObjects" />
        <activity android:name=".ExerciseForMethods1" />
        <activity android:name=".ExerciseClassesAndObjects2" />
        <activity android:name=".ExerciseArray" />
        <activity android:name=".ExerciseKonstruktoren" />
        <activity android:name=".ExerciseVererbung" />
        <activity android:name=".ProgrammingExerciseForMethods" />
        <activity android:name=".ExerciseExeptions" />
        <activity android:name=".ExerciseInterfaces" />
        <activity android:name=".ExerciseEvents" />
        <activity android:name=".ExerciseTryCatchPhrase" />
        <activity android:name=".ExerciseBufferedReader" />
        <activity android:name=".ExerciseIfElse" />
        <activity android:name=".ExerciseLoops" />
    </application>

</manifest>